body, html {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('back.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    font-family: Arial, sans-serif;
}
header {
    background-color: #111;
    padding: 1rem 0;
}

.logo img {
    width: 150px;
}
.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.hero-text {
    flex: 1;
    max-width: 50%;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.cta-button {
    background-color: #e50914;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1.25rem;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #ff0a16;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #111;
}
.email-sender {
    text-align: center;
    padding: 2rem;
    background-color: #000;
}

.email-sender h2 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 1rem;
}

.email-sender p {
    font-size: 1.25rem;
    color: #ccc;
    margin-bottom: 1.5rem;
}

.email-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-form input[type="email"] {
    /* padding: 2rem; */
    font-size: 1rem;
    border: none;
    border-radius: 5px 0 0 5px;
}

.email-form button {
    padding: 2rem;
    background-color: #e50914;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.email-form input[type="email"],
.email-form button {
    height: 40px;
}

.email-form input[type="email"]:focus {
    outline: none;
}
